{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>CycleOlogy</title>
      <!-- Bootstrap CSS CDN -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> -->
      <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
      <!-- <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}"> -->
      <link rel="stylesheet" href="{% static 'css/custom.css' %}">
      {% block head_js %} {% endblock head_js %}
   </head>
   <body>
      <!-- <div class="wrapper">
         </div> -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top top-navbar">
         <div class="container">
           <a class="navbar-brand" href="#">
                <img src="http://placehold.it/50x20?text=Logo" width="30" height="30" class="d-inline-block align-center" alt="">
                CycleOlogy
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="nav navbar-nav navbar-right ">
                  {% if user.is_authenticated %}
                  <li class="nav-item active"><a class="nav-link"  href="{% url 'profile' %}"><i class="fas fa-user"></i> Profile</a></li>
                  <li class="nav-item active"><a class="nav-link"  href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                  {%  else %}
                  <li class="nav-item active"><a class="nav-link" href="{% url 'register' %}"><i class="fas fa-user-plus"></i> Register</a></li>
                  <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}"><i class="fas fa-sign-in-alt"></i> Log In</a></li>
                  {% endif %}
                  <li>
                  </li>
               </ul>
            </div>
            <ul class="nav navbar-nav navbar-right ">
               <li class="nav-item active">
                  <a  class="nav-link" href="{% url 'view_cart' %}">
                  <i class=" fas fa-shopping-basket navbar-icon"></i> Cart
                  {% if product_count > 0 %}
                  <label class="badge badge-warning">{{ product_count }}</label>
                  {% endif %}
                  </a>
               </li>
            </ul>
         </div>
      </nav>
            <nav class="navbar navbar-expand-lg navbar-light bg-light ">
                     <div class="container">
           <a class="navbar-brand" href="#">
                <img src="http://placehold.it/50x20?text=Logo" width="30" height="30" class="d-inline-block align-center" alt="">
                CycleOlogy
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarbottom" aria-controls="navbarbottom" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarbottom">
                     <ul class="nav navbar-nav navbar-right ">
                 <li class="active">
                    <a href="#AccessoriesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Accessories</a>
                    <ul class="collapse list-unstyled" id="AccessoriesSubmenu">
                        <li>
                            <a href="{% url 'assessory_products' %}">All Accessories</a>
                        </li>
                        <li>
                            <a href="{% url 'electronics_products' %}">Electronics</a>
                        </li>
                        <li>
                            <a href="{% url 'bottles_products' %}">Bottles</a>
                        </li>
                        <li>
                            <a href="{% url 'seat_products' %}">Child Seats & Trailers</a>
                        </li>
                        <li>
                            <a href="{% url 'helmet_products' %}">Helmets</a>
                        </li>
                        <li>
                            <a href="{% url 'lights_products' %}">Lights</a>
                        </li>
                        <li>
                            <a href="{% url 'locks_products' %}">Locks</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
                    <ul class="collapse list-unstyled" id="ComponentsSubmenu">
                        <li>
                            <a href="#">All Components</a>
                        </li>
                        <li>
                            <a href="#">Brakes</a>
                        </li>
                        <li>
                            <a href="#">Cables</a>
                        </li>
                        <li>
                            <a href="#">Drive Chain</a>
                        </li>
                        <li>
                            <a href="#">Finishing Kit</a>
                        </li>
                        <li>
                            <a href="#">Tyres & Tubes</a>
                        </li>
                        <li>
                            <a href="#">Wheels </a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#nutritionSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Nutrition</a>
                    <ul class="collapse list-unstyled" id="nutritionSubmenu">
                        <li>
                            <a href="#">All Nutrition</a>
                        </li>
                        <li>
                            <a href="#">Energy Food</a>
                        </li>
                        <li>
                            <a href="#">Energy Drink</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#workshopSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Workshop</a>
                    <ul class="collapse list-unstyled" id="workshopSubmenu">
                        <li>
                            <a href="#">All Workshop</a>
                        </li>
                        <li>
                            <a href="#">Tools</a>
                        </li>
                        <li>
                            <a href="#">Lubricants & Cleaning</a>
                        </li>
                        <li>
                            <a href="#">Storage/Workstands</a>
                        </li>
                    </ul>
                </li>
                <li class="active">
                    <a href="#workshopSubmenu" data-toggle="collapse" aria-expanded="false" >Clearance</a>
                </li>
            </ul>
            </div>
      </nav>
      <hr>
                  <div class="container">
            {% if messages %}
                <div class="alert alert-success">
                    <div class="messages">
                        {% for message in messages %} {{ message }} {% endfor %}
                    </div>
                    </div>
            {% endif %}







     
      {% block content %} {% endblock %}
      <footer>
         <div class="container">
            <p>Made by Code Institute bootcampers</p>
         </div>
      </footer>
      <!-- jQuery CDN - Slim version (=without AJAX) -->
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <!-- Popper.JS -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
      <!-- Bootstrap JS -->
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
      <!-- Font Awesome JS -->
      <script  src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
      <script  src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script type="text/javascript">
         $(document).ready(function() {
             $('#sidebarCollapse').on('click', function() {
                 $('#sidebar').toggleClass('active');
                 $(this).toggleClass('active');
             });
         });
      </script>
   </body>
</html>